* {
	margin: 0;
	padding: 0;
}
h1, h3, p, button, input {
	text-align: center;
}
input {
	width: 400px;
	height: 30px;
	margin: 15px;
}
input {
	left: 470px;
	position: relative;
}

button {
	width: 200px;
	height: 45px;
	margin-left: 585px;
	display: block;
}