* {
	margin: 0;
	padding: 0;
}
h1, input, p {
	text-align: center;
}
p {
	font-weight: bold;
	font-size: 20px;
}
h3 {
	margin: 0 60px;
}
input {
	width: 400px;
	height: 30px;
	margin: 15px;
}
input {
	left: 245px;
	position: relative;
}

button {
	width: 200px;
	height: 45px;
	margin-left: 585px;
	display: block;
}